In [7]:
import pandas as pd
import numpy as np
from datetime import datetime
from glob import glob

In [14]:
lista_DP = glob("../Datasets/SSP/2022_trends/*")
lista_DP.sort()
len(lista_DP)

69

In [16]:
lista = [1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,19,20,21,22,23,
        24,25,26,27,28,29,30,31,32,33,34,35,36,37,39,40,41,42,43,44,
        45,46,47,48,49,50,51,52,53,56,58,62,63,65,69,70,73,77,78,81,
        89,90,91,92,96,97,99,102]
len(lista)

69

In [18]:
df = pd.read_csv('../Datasets/trends/trends2022.csv')

# Converta a coluna 'date' para o tipo datetime
df['date'] = pd.to_datetime(df['date'])

# Defina a coluna 'date' como índice
df.set_index('date', inplace=True)

# Agrupe por mês e calcule as proporções mensais
df_anual = df.resample('Y').sum()/52  # Agrupa por ano e soma os valores e divide pela quantidade

df_anual = df_anual.transpose()

In [20]:
df_pois = pd.read_csv('../Datasets/POIs.csv')
df_pois.drop(columns='Unnamed: 0', inplace=True)
df_pois.head()

,POI,area_01,area_02,area_03,area_04,area_05,area_06,area_07,area_08,area_09,...,area_85,area_87,area_89,area_90,area_91,area_92,area_96,area_97,area_98,area_99
0,bar,8,1,15,16,4,9,8,4,3,...,1,1,0,0,0,0,13,1,0,0
1,bbq,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,biergarten,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
3,cafe,13,2,13,14,3,3,2,2,1,...,0,0,2,0,1,0,12,0,0,0
4,drinking_water,2,7,0,1,0,2,1,0,0,...,0,0,1,0,0,0,0,0,0,0

In [21]:
l1 = list(np.arange(1,54))
l2 = [56,57,58,62,63,64,65,66,69,70,73,75,77,78,80,81,85,87,89,90,91,92,96,97,98,99,101,102,103]
areas_ord = l1+l2

print(areas_ord)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 56, 57, 58, 62, 63, 64, 65, 66, 69, 70, 73, 75, 77, 78, 80, 81, 85, 87, 89, 90, 91, 92, 96, 97, 98, 99, 101, 102, 103]

In [ ]:
areas = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 101, 102, 103,
         11, 12, 13, 14, 15, 16, 17, 18,
         19, 20, 21, 22, 23, 24, 25, 26,
         27, 28, 29, 30, 31, 32, 33, 34,
         35, 36, 37, 38, 39, 40, 41, 42,
         43, 44, 45, 46, 47, 48, 49, 50,
         51, 52, 53, 56, 57, 58, 62, 63,
         64, 65, 66, 69, 70, 73, 75, 77,
         78, 80, 81, 85, 87, 89, 90, 91,
         92, 96, 97, 98, 99]
df_res = pd.DataFrame(index=areas)

df_melted = df_pois.melt(id_vars=['POI'], var_name='area', value_name='value')
pois = list(df_pois.POI)
for x in pois:
    df_res[x] = list(df_melted.loc[df_melted.POI == x].value)
df_res.head()

In [26]:
df_res = df_res.sort_index()
df_res

,bar,bbq,biergarten,cafe,drinking_water,fast_food,food_court,ice_cream,pub,restaurant,...,shower,telephone,toilets,townhall,vending_machinne,waste_basket,waste_disposal,waste_transfer_station,watering_place,water_point
1,8,0,0,13,2,35,0,4,3,71,...,0,36,7,2,0,0,0,0,0,0
2,1,0,0,2,7,4,0,0,11,11,...,0,0,4,0,0,0,0,0,0,0
3,15,0,0,13,0,30,0,0,5,59,...,0,11,5,0,0,6,0,0,0,0
4,16,0,0,14,1,36,1,2,8,77,...,0,0,2,0,0,0,0,0,0,0
5,4,0,0,3,0,13,0,0,4,38,...,0,4,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98,0,0,1,0,0,5,0,1,0,6,...,0,5,0,0,0,0,0,0,2,0
99,0,0,1,0,0,1,0,1,0,4,...,0,0,0,0,0,0,0,0,0,0
101,1,0,0,0,2,2,0,0,1,0,...,0,0,1,1,0,0,0,0,0,0
102,0,0,0,0,0,3,0,0,0,3,...,0,0,0,0,0,0,0,0,0,0
103,0,0,0,0,0,0,0,0,0,3,...,0,1,0,0,0,0,0,0,0,0